*{
    margin: 0;
}
.logo{
    position: absolute;
}

.inputbox{
    background-image: url(../images/Background2.png);
    height: 100vh;
    padding: 2em;
    align-items: center;
}
.head1{
    width: 100vw;
    position: relative;
    left: 31vw;
    padding: 2.5em;
    color: white;
    font-size: 2.5em;

}
.upload{
    width: 100vw;
    position: relative;
    left: 32vw;
    padding: 1.5em;
}
.diff{
    width: 100vw;
    /* margin: 0px; */
    position: relative;
    left: 45vw;
    padding: 1em;
    color: white;
    font-size: 2.5em;
}
button{
    border: 5px solid white;;
    padding: 1em;
    border-radius: 5rem;
    color: white;
    background-color: #2D9DA4;
    font-size: large;
    font-weight: 800;
}
input{
    border: 5px solid white;;
    padding: 0.5em;
    border-radius: 5rem;
    color: white;
    background-color: #2D9DA4;
    font-size: large;
    font-weight: 800;
}
.recorder{
    position: absolute;
    /* margin: 20px; */
    top: 30vh;
    left: -2vw;
}
.head2{
    width: 100vw;
    position: relative;
    left: 37vw;
    padding: 1.5em;
    color: white;
    font-size: 2.5em;
}